[Unit]
Description=Kerberos 5 propagation server

[Service]
ExecStart=/data/data/com.termux/files/usr/glibc/bin/kpropd -S

[Install]
WantedBy=multi-user.target
